<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RUSSIAN WORDS</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
 <font face="Bahnschrift Condensed" size="50px">
 	<p id="word0"></p>
 	<p id="word1"></p>
 	<p id="word2"></p>
 </font>
<script>
setInterval(function(){ // load the data from your endpoint into the div
    $("#word0").load("/get_words/0")
    $("#word1").load("/get_words/1")
    $("#word2").load("/get_words/2")
},1000)
</script>
</body>
</html>